# Please fill in the environment variables that are needed for your task

# PostgreSQL
PG_HOST=
PG_DB=
PG_USER=
PG_PASSWORD=
PG_PORT=
POSTGRES_URL=postgresql://${PG_USER}:${PG_PASSWORD}@${PG_HOST}:${PG_PORT}/${PG_DB}

# MySQL
MYSQL_HOST=
MYSQL_DB=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DB}

# SQLServer
MSSQL_HOST=
MSSQL_DB=
MSSQL_USER=
MSSQL_PASSWORD=
MSSQL_PORT=
MSSQL_URL=

# SQLite
SQLITE_FILE_PATH=
SQLITE_URL=sqlite://${SQLITE_FILE_PATH}

# Oracle
ORACLE_HOST=
ORACLE_DB=
ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_PORT=
ORACLE_URL=oracle://${ORACLE_USER}:${ORACLE_PASSWORD}@${ORACLE_HOST}:${ORACLE_PORT}/${ORACLE_DB}

# Others
MODIN_ENGINE=dask
RUST_LOG=connectorx=debug,connectorx_python=debug
TPCH_QUERIES=
